.vs/GitPruebaDefinitiva/DesignTimeBuild/.dtbcache.v2
.vs/GitPruebaDefinitiva/v17/.suo
.vs/ProjectEvaluation/gitpruebadefinitiva.metadata.v5.2
.vs/ProjectEvaluation/gitpruebadefinitiva.projects.v5.2
.vs